# Import neccessary packages/tools:

In [1]:
import pandas as pd
import requests 
import pyodbc
import sqlite3

### Dataset collected from data.gov
#### https://catalog.data.gov/dataset/trips-by-distance
##### "How many people are staying at home? How far are people traveling when they donâ€™t stay home? Which states and counties have more people taking trips? The Bureau of Transportation Statistics now provides answers to those questions through our new mobility statistics." (data.gov)

## First, the data needs to be loaded into Python using Pandas:

In [12]:
print("\nConverting Excel to Dataframe...")
df = pd.read_excel(r'C:\Users\Trevo\Downloads\Trips_by_Distance.xlsx',
                  header = 0
)

Converting Excel to Dataframe...

In [13]:
df.head()

,Level,Date,State FIPS,State Postal Code,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID,Week,Month
0,State,2019-01-01,32,NV,753054,2272063,9139676,2999886,2181216,1039500,1378024,1108436,222837,93301,73578,24471,18427,32-00000-20190101,0,1
1,State,2019-01-01,12,FL,4524666,16709556,55258300,16036792,14469767,6658624,7977612,6604304,2113009,796740,412224,95341,93887,12-00000-20190101,0,1
2,State,2019-01-01,11,DC,241030,459278,3114055,1314825,833796,367547,344116,183744,42096,10730,8109,3476,5616,11-00000-20190101,0,1
3,State,2019-01-01,10,DE,224457,739757,2420942,584323,640348,305441,370359,314102,128454,50542,22701,2474,2198,10-00000-20190101,0,1
4,State,2019-01-01,9,CT,853894,2707851,9468961,2375021,2618933,1189575,1331356,1211252,449947,192960,56618,12031,31268,09-00000-20190101,0,1

# Connecting to SQLite:

In [6]:
connection = sqlite3.connect('/Users/Trevo/Downloads/Tripsdata.db')
print("\nConnecting to SQLite3 DataBase. If one doesn't exist, one will be created...")

Connecting to SQLite3 DataBase. If one doesn't exist, one will be created...

# Inserting Data into the SQLite 3 database:

In [9]:
print("\nInserting Data into the SQLite3 Database...")
df.to_sql(
    name = 'Trips Data',
    con = connection,
    if_exists = 'replace',
    index = False,
    dtype = {'Level': 'text',
            'Date': 'real',
            'State FIPS': 'real',
            'State Postal Code': 'text',
            'Population Staying at Home': 'real',
            'Population Not Staying at Home': 'real',
            'Number of Trips': 'real',
            'Number of Trips <1': 'real',
            'Number of Trips 1-3': 'real',
            'Number of Trips 3-5': 'real',
            'Number of Trips 5-10': 'real',
            'Number of Trips 10-25': 'real',
            'Number of Trips 25-50': 'real',
            'Number of Trips 50-100': 'real',
            'Number of Trips 100-250': 'real',
            'Number of Trips 250-500': 'real',
            'Number of Trips >=500': 'real',
            'Row ID': 'real',
            'Week': 'real',
            'Month': 'real'})

Inserting Data into the SQLite3 Database...

In [11]:
print("\nSaving and closing the SQLite3 database connection...")
connection.commit()
connection.close()

Saving and closing the SQLite3 database connection...